<configuration>
    <property name="PROFILE" value="STAGING"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" level="INFO">
        <encoder>
            <pattern>%date{dd MMM yyyy;HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %marker%n%ex{short}</pattern>
        </encoder>
    </appender>
 

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>info</level>
            </filter>
            <encoder>
                <pattern>%date{dd MMM yyyy;HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %marker%n%ex{full}</pattern>
            </encoder>
            <file>/var/log/jojopi/jojopi.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>/var/log/jojopi/jojopi.log.%d{yyyy-MM-dd}</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
        </appender>
    
    <root level="INFO">
    </root>
    <logger name="id.yoframework" level="INFO">
        <appender-ref ref="STDOUT"/>
         <appender-ref ref="FILE"/>
    </logger>
    <logger name="io.vertx" level="ERROR">
        <appender-ref ref="STDOUT"/>
    </logger>
    
    <logger name="io.netty.util.internal.PlatformDependent" level="ERROR">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="LOGSTASH"/>
    </logger>
    
</configuration>